// Colors
$color-gray-100: #f3f4f6;
$color-gray-300: #d1d5db;
$color-gray-500: #6b7280;
$color-gray-700: #374151;
$color-gray-900: #111827;

$white: #fff;
$black: #000;

$color-primary: #294E7E;
$color-secondary: #6CAADB;
$color-accent: #F6C345;
$color-bg-primary: $white;

// Fonts
$font-primary: Helvetica, Arial, sans-serif;

// Screen sizes
$screen-xl: 1200px;
$screen-l: 1024px;
$screen-m: 744px;
$screen-s: 425px;